*{
    margin:0;
    padding:0;
    font-family:'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background: linear-gradient(100deg,rgb(248, 131, 188),rgb(193, 144, 249));
    display: flex;
    
    align-items: center;
    justify-content: center;
}
.container{
    width:500px;
    padding:20px;
    margin-top: 100px;
    border-radius: 40px;
    height: max-content;
    background-color: aliceblue;
}

ul li{
    list-style: none;
    padding: 12px 8px 12px 50px;
    font-size: 17px;
    user-select: none;
    cursor: pointer;
    position: relative;
    font-family:'Poppins',sans-serif;
}
ul li::before{
    height:28px;
    width:28px;
    content:'';
    position:absolute;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top:12px;
    left:12px;
}
.head{
    display:flex;
    margin:20px;
}
.head img{
    height:30px;
    width:30px;
}
.task{
    display:flex;
    margin: 20px;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.task input{
    border-radius: 40px;
    padding:20px;
    border:none;
    width:400px;
    background-color: #dfdfdfb9;
}
button{
    background-color: rgb(228, 90, 90);
    color: white;
    border-radius: 40px;
    border:none;
    padding:15px 20px;
    cursor: pointer;
}
ul li.checked{
    color: rgb(155, 155, 155);
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(checked.png);
    
}
ul li span{
    position: absolute;
    height: 40px;
    width: 40px;
    right:0;
    top:5px;
    font-size: 22px;
    color:#555;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
}
ul li span:hover{
    background: #dfdfdfb9;
}
@media (max-width:600px){
    *{
        font-size: 10px;
        padding:0px;
    }
    .container{
        height:min-content;
        width: 90%;
    }
    .task{
        width:90%;
        gap:5px;
        margin:0;
        margin-left: 10px;
        padding:0;
        display: flex;
        flex-direction: column;
    }
    .task input{
        width:90%;
    }
    ul li{
        font-size: 10px;
    }
    ul li::before{
        height:20px;
        width: 20px;
        background-size: cover;
    }
    ul li span{
        height:20px;
        width:20px;
    }
    ul li span:hover{
        background-color:aliceblue;
    }
}